body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.split {
  display: flex;
  justify-content: stretch;

  > .col {
    flex-basis: 100%;
  }
}
